@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    color: white;
}
body, html {
    color: black;
    overflow-x: hidden;
}

.navbar-dark {
    color: white;
}

.nav-link {
    font-weight: bold;
    font-size: .9rem;
}

footer {
    background-color: black;
    font-size: .9rem;
    text-align: center;
    height: 15vh;

    p {
        margin: 0;
        font-weight: bold;
        padding-top: 10px;
    }

    
}

a, .redes-sociais {
    display: inline-block;
    margin: 0px 20px;
    text-decoration: none;
    color: white;

    &:hover {
        color: $color-hover;
    }
}

.obc {
    background-color: black;
    color: $color-footer;
    margin-top: 5px;
}

footer {
    p , a {
        font-size: 1em;
    }
}

@media (max-width: 375px) {
    .logo-navbar {
        max-width: 150px !important;
    }
    h4 {
        padding-top: 50%;
    }
}